.publicationDate{
    margin-top: 111px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.87);
    font-family: var(--font-search);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px; 
    letter-spacing: 0.83px;
}
.webTitle{
    width: 635px;
    color: rgba(0, 0, 0, 0.87);
    font-family: Georgia;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px; 
    letter-spacing: 0.07px;
}
.headline{
    width: 635px;
    color: rgba(0, 0, 0, 0.87);
    font-family: Georgia;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; 
    letter-spacing: 0.07px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.bodyText{
    color: rgba(0, 0, 0, 0.87);
    font-family: var(--font-search);
    width: 635px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.1px;
    margin-bottom: 293px;
}
.thumbnail{
    margin-left: 30px;
    width: 445px;
    height: max-content;
}
.picNText{
    display: flex;
    flex-direction: row;
    margin-top: 0px;
}
@media (max-width:480px){
    .publicationDate{
        margin-top: 50px;
        margin-bottom: 3px;
        margin-left: 5px;
        font-size: 9px;
    }
    .webTitle{
        width: 380px;
        font-size: 25px;
        line-height: 30px; 
        margin-left: 5px;
    }
    .headline{
        width: 380px;
        font-size: 20px;
        margin-left: 5px;
    }
    .picNText{
        display: flex;
        flex-direction: column-reverse;
    }
    .thumbnail {
        max-width: fit-content;
        max-height: fit-content;
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
    }
    .bodyText{
        width: 380px;
        font-size: 12px;
        margin: 7px;
    }
}