.sport{
    margin-top: 50px;
    margin-bottom: 30px;
}
.sportsTitle {
    color: rgba(0, 0, 0, 0.87);
    font-family: Georgia;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
}
.sportNews {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 105px;
}
@media (max-width: 480px){
    .sportNews{
        display: flex;
        flex-wrap: wrap; 
        align-items: center;
        margin: 5px;
    }
    .sportsTitle{
        font-size: 27px;
    }
    .mediumCardContainerSport{
        margin-top: 5px;
    }
}