:root {
    font-size: 16px; 
}
.backgroundMed {
    width: 350px;
    height: 350px;
    position: relative;
    background-size:fill;
    background-repeat:no-repeat;
    background-color: #0D47A1;
}

.contextMed {
    position: absolute;
    background: rgba(9, 53, 123, 0.90);
    opacity: 0.9;
    height: 134px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.titleMed {
    color: #FFF;
    font-family: Georgia;
    font-size: 20px; 
    font-style: normal;
    font-weight: 700;
    margin: 10px;
    letter-spacing: 0.07px;
}
.contextMed p{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #FFF;
    margin: 5px 14px 19px 5px;
}
@media (max-width: 480px){
    .backgroundMed{
        width: 180px;
        height: 180px;
    }
    .contextMed{
        height: 80px;
    }
    .titleMed{
        font-size: 15px; 
        margin: 5px;
    }
    .bodyMed{
        margin: 0px 1px 0px 1px;
        font-size: 13px;
        color: #FFF;
    }
    .contextMed p{
        -webkit-line-clamp: 1;
    }
}